<nav class="bg-secondary">
  <div class="container py-5 space-x-4">
    <a
      class="m-r text-white  {{ 'font-black' if page.url == '/' }}"
      href="/"
    >
      Cloud Cycle
    </a>
    <a
      class="text-white {{ 'font-black' if page.url == '/product/' }}"
      href="/product"
    >
      Product
    </a>
    <a
      class="text-white {{ 'font-black' if page.url == '/about/' }}"
      href="/about"
    >
      About us
    </a>
    <a
      class="text-white {{ 'font-black' if page.url == '/careers/' }}"
      href="/careers"
    >
      Careers
    </a>

  </div>
</nav>
