{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="container py-8">

    <div class="flex">
      <div class="flex-1">
        <h1>Data | Profit | Planet</h1>
        <p>
          Cloud Cycle is reimagining the construction industry by digitising ready-mix concrete and enabling companies to increase their profit and sustainability.
        </p>
        <div class="mt-10 flex items-start">
          <a href="" class="btn-primary-fill mr-6">
            Talk to us
          </a>
          <a href="" class="btn-primary-outline mr-6">
            3 Steps
          </a>
        </div>
      </div>
      <div class="flex-1">
        TRUCK IMAGE
      </div>
    </div>

    <div class="mt-10">
      Trusted by these sponsors
      
    </div>

  </main>
{% endblock %}
